.title {
	color: pink;
	background-color: cyan;
	font-size: 65px;
}

.pokemon_pictures {
	height: 250px;
	width: 250px;
}
p.pokemon {
	color: green;
	font-size: 15px;
 }

 .pokemon2 {

 	color: blue;
 	background-color: white;
 	font-size: 70px;
 }

 .pokemon3 {

    color: pink;
    background: purple;

 }